@model FirstappMvc.Models.ClientMessage

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ClientMessage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="userName" class="control-label"></label>
                <input asp-for="userName" class="form-control" />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userEmaile" class="control-label"></label>
                <input asp-for="userEmaile" class="form-control" />
                <span asp-validation-for="userEmaile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userPhone" class="control-label"></label>
                <input asp-for="userPhone" class="form-control" />
                <span asp-validation-for="userPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userTheme" class="control-label"></label>
                <input asp-for="userTheme" class="form-control" />
                <span asp-validation-for="userTheme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userMessage" class="control-label"></label>
                <input asp-for="userMessage" class="form-control" />
                <span asp-validation-for="userMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
